/* お気に入りボタンのレイアウト */
.unfav-button {
    /* border-radius:30px; */
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding-top: 0px;
    padding-right: 0px;
    appearance: none;
}
.fav {
    color: #262626;
}
.unfav {
    color: #ff3366;
}
.fa-heart {
    font-size: 32px;
}
.fav-button {
    /* border-radius:30px; */
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding-top: 0px;
    padding-right: 0px;
    appearance: none;
}

/* トップページのインスタのアイコンレイアウト */
.insta_btn {
    display: inline-block;
    text-align: center; /*中央揃え*/
    color: #2e6ca5; /*文字色*/
    font-size: 20px; /*文字サイズ*/
    text-decoration: none; /*下線消す*/
}

.insta_btn:hover {
    /*ホバー時*/
    color: #668ad8; /*文字色*/
    transition: 0.5s; /*ゆっくり変化*/
}

.insta_btn .insta {
    /*アイコンの背景*/
    position: relative; /*相対配置*/
    display: inline-flex;
    width: 38px; /*幅*/
    height: 38px; /*高さ*/
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%)
        no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat; /*グラデーション①*/
    overflow: hidden; /*はみ出た部分を隠す*/
    border-radius: 8px; /*角丸に*/
}

.insta_btn .insta:before {
    /*グラデーションを重ねるため*/
    content: "";
    position: absolute; /*絶対配置*/
    top: 23px; /*ずらす*/
    left: -18px; /*ずらす*/
    width: 60px; /*グラデーションカバーの幅*/
    height: 60px; /*グラデーションカバーの高さ*/
    background: -webkit-radial-gradient(
        #ffdb2c 10%,
        rgba(255, 105, 34, 0.65) 55%,
        rgba(255, 88, 96, 0) 70%
    );
    background: radial-gradient(
        #ffdb2c 10%,
        rgba(255, 105, 34, 0.65) 55%,
        rgba(255, 88, 96, 0) 70%
    ); /*グラデーション②*/
}

.insta_btn .fa-instagram {
    /*アイコン*/
    color: #fff;
    position: relative; /*z-indexを使うため*/
    z-index: 2; /*グラデーションより前に*/
    font-size: 32px; /*アイコンサイズ*/
    line-height: 40px; /*高さと合わせる*/
    padding-left: 5px;
}

/* 自己紹介のテキストエリアのレイアウト */
.introduction {
    vertical-align: top;
    resize: none;
}

/* insta_idのレイアウト */
.insta_btn2 {
    /*ボタンの下地*/
    color: #fff; /*文字・アイコン色*/
    border-radius: 7px; /*角丸に*/
    position: relative;
    display: inline-block;
    height: 50px; /*高さ*/
    width: 190px; /*幅*/
    text-align: center; /*中身を中央寄せ*/
    font-size: 25px; /*文字のサイズ*/
    line-height: 50px; /*高さと合わせる*/
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%)
        no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat; /*グラデーション①*/
    overflow: hidden; /*はみ出た部分を隠す*/
    text-decoration: none; /*下線は消す*/
}

.insta_btn2:before {
    /*グラデーション②*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*全体を覆う*/
    height: 100%; /*全体を覆う*/
    background: -webkit-linear-gradient(
            15deg,
            #ffdb2c,
            rgb(249, 118, 76) 25%,
            rgba(255, 77, 64, 0) 50%
        )
        no-repeat;
    background: linear-gradient(
            15deg,
            #ffdb2c,
            rgb(249, 118, 76) 25%,
            rgba(255, 77, 64, 0) 50%
        )
        no-repeat;
}

.insta_btn2 .fa-instagram {
    /*アイコン*/
    font-size: 35px; /*アイコンサイズ*/
    position: relative;
    top: 4px; /*アイコン位置の微調整*/
}

.insta_btn2 span {
    /*テキスト*/
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.insta_btn2:hover span {
    /*ホバーで一周回転*/
    -webkit-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg);
}

/* Chatルームボタンのレイアウト */
.chat_btn {
    /*ボタンの下地*/
    color: #fff; /*文字・アイコン色*/
    border-radius: 7px; /*角丸に*/
    position: relative;
    display: inline-block;
    height: 50px; /*高さ*/
    width: 190px; /*幅*/
    text-align: center; /*中身を中央寄せ*/
    font-size: 25px; /*文字のサイズ*/
    line-height: 50px; /*高さと合わせる*/
    overflow: hidden; /*はみ出た部分を隠す*/
    text-decoration: none; /*下線は消す*/
}

.chat_btn:before {
    /*グラデーション②*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*全体を覆う*/
    height: 100%; /*全体を覆う*/
    background: #007bff;
}

.chat_btn .fa-comment {
    /*アイコン*/
    font-size: 35px; /*アイコンサイズ*/
    position: relative;
    color: whitesmoke;
    top: 4px; /*アイコン位置の微調整*/
}

.chat_btn span {
    /*テキスト*/
    display: inline-block;
    position: relative;
    color: whitesmoke;
    transition: 0.5s;
}

/* Ajaxを使用したチャット */
.chat-container {
    width: 100%;
    height: 100%;
}

.chat-card {
    height: 48vh;
    overflow: auto;
}

.chat-area {
    width: 70%;
}

.review-container {
    bottom: 20px;
    text-align: center;
    width: 75%;
}

.review-area {
    width: 100%;
}

.review-btn {
    margin: 0px 10px;
}

.review-body {
    padding: 5px 30px 20px 30px;
}

.review-body:hover {
    background-color: #dfdfdf;
}

.review-body-user {
    font-weight: bold;
    font-size: 20px;
}

.review-body-time {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 5px;
    color: #a0a0a0;
}
/*# sourceMappingURL=style.css */
